$content: "content";
$left: "left";
$flex: "flex";
* {
    margin: 0;
    padding: 0;
}

.flex {
    display: $flex;
}

.just-cont {
    justify-content: $content;
}

.just-c-space-bet {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w1100 {
    width: 1100px;
}

.w960 {
    width: 960px;
}

.w450 {
    width: 450px;
}

.w700 {
    width: 700px;
}

.w120 {
    width: 120px;
}

.w300 {
    width: 300px;
}

.h210 {
    height: 210px;
}

.h300 {
    height: 300px;
}

.h500 {
    height: 500px;
}

.h50 {
    height: 50px;
}

.h100 {
    height: 100%;
}

.auto {
    margin: 0 auto;
}

.ma16 {
    margin: 16px;
}

.icon {
    float: $left;
    width: 176px;
    height: 69px;
    background-position: 0 0;
}

.text {
    background-color: aqua;
}

.font-content-40 {
    text-align: $content;
    line-height: 40px;
}
.bian {
    width: 30em;
    height: 20em;
    background-color:#ffffff8f;
    border-radius: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15em 0 0 -10em;
}
.y{
    position: absolute;
    width: 100%;
    height: 100%;
}